div{
    height: 300px;
    width: 300px;
    background-color: pink;
}



div:hover{
    background-color: blueviolet;
    transform: rotate(20deg);
    transform: scale(0.5);
    transform: translate(30px);
    transform: translate(30px,20px);
    transform: skew(30deg);
}



